div.hidden {
  display: none;
}

div.active {
  border: 10px solid rgb(13, 255, 0);
}

img.bigcoin {
  width: 60px;
}

#smallcoin {
  width: 100px;
}

#calls-coin {
  width: 100px;
}

#flip-coin {
  width: 100px;
}



